* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
.header {
  font-family: "Acme", sans-serif;
  line-height: 70px;
  padding: 10px 20px;
  font-size: 180%;
  color: rgb(34, 71, 131);
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 10px;
  font-size: 110%;
  color: white;
  background-color: rgb(34, 71, 131);
}
#icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 140px);
  background-color: rgb(226, 226, 226);
}
#icons > div {
  flex-basis: calc(100% / 4 - 40px);
  min-width: 150px;
  margin: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
}
#icons i {
  font-size: 300%;
}
.title {
  padding-top: 10px;
}

.footer {
  width: 100%;
}
